{% extends 'base.html' %}
{% load humanize %}

{% load widget_tweaks %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport"-content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>EcoExchange</title>
</head>

<body>
<section>
            <div class="p-5-mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h2 class="display-5-fw-bold">EcoExchange, find and donate items for free(home page)</h2> <br>
                    <div class="card">
                        <div class="card-body">
                            <form class="row gy-2 gx-3 align-items-center" method="GET">
                                <div class="col-sm-2">
                                    <label  for="autoSizingInput">Name</label>
                                    {% render_field filter.form.title class="form-control" id="autosizingInput" placeholder="item-Keyword"%}
                                </div>
                                <div class="col-sm-3">
                                    <label  for="autoSizingSelect">Select Location</label>
                                    {% render_field filter.form.city class="form-select"%}
                                </div>
                                <div class="col-sm-3">
                                    <label  for="autoSizingSelect">Choose catagory</label>
                                    {% render_field filter.form.catagory class="form-select"%}

                                </div>
                                <div class="col-sm-3">
                                    <label for="autoSizingSelect">Choose  status</label>
                                    {% render_field filter.form.item_type class="form-select"%}

                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="col-md-8-fs-6-mt-3">
                                Welcome to EcoExchange website! Search to get or donate your next item.
                    </p>
                    <a href="{% url 'items-listing' %}" class="btn btn-outline-primary" type="button">More items</a>
                </div>
            </div>
</section>
        
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in filter.qs %}
    {% if item.is_approved%}
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.category }}</p>
                <p class="card-text">{{ item.item_type }}</p>
                <p class="card-text">{{ item.city }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ item.updated_at|naturaltime }}</small>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div><br>

</body>

{% endblock content %}