     
{% extends 'base.html' %}

{% block title %}Admin Home Page{% endblock %}

{% block content %}
    <div class="item-list">
        <h1>Item List</h1>
        <ul>
            {% for item in items %}
            {% if not item.is_approved %}
                <li class="item">
                    
                    {% if item.image %}
                    <img class="product-img" src="{{ item.image.url }}" alt="Product Image">
                    {% endif %} 
                    <div class="item-details">
                        <p>Title: {{ item.title }}</p>
                        <p>descreption: {{ item.descreption }}</p>
                        <p>Email: {{ item.user.email }}</p>
                    </div>
                    <form class="approve-form" action="{% url 'approve_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="approve-btn">Approve</button>
                    </form>
                    
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}

