{% extends 'base.html' %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<section>
    <div clas="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">{{item.title}}</h2>
            <p class="col-md-8-fs-6-mt-3">
                Location:{{item.location}} | Is Available:{{item.is_available}}
            </p>
            {% if has_req == False %}
            <a  href="{% url 'request-item' item.pk %}" class="btn btn-primary btn-lg" >Request</a>
            {% else %}
            <p><span class="text-danger">You have already request this item </span></p>
            {% endif %}
        </div>
    </div>



    

</section>

<div>
    
    <section>
        <h5>Donor:</h5>
        <p>
            {{item.user}}
        </p>
    </section>


</div><br>


<div>
    
    <section>
        <h5>description:</h5>
        <p>
            {{item.description}}
        </p>
    </section>


</div><br>

{% endblock content %}