{% extends 'base.html' %}

{% block title %}Admin Home Page{% endblock %}

{% block content %}

<style>
    /* CSS styling */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .button-text{
        text-align: center;
    }

    .center {
        display: flex;
        align-items: center; /* Align items vertically */
        justify-content: center; /* Align items horizontally */
        height: 80vh;
    }

    .accept-button {
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin: 30px; /* Add margin between buttons */
    }

    .accept-button:hover {
        background-color: #a7dcff;
        transform: scale(1.1);
    }

    .accept-button img {
        width: 200px; /* Adjust the width of the image */
        height: auto; /* Maintain aspect ratio */
    }
</style>
    <div class="center">
        <form action="{% url 'item_approval' %}" method="GET">
            <button class="accept-button" type="submit"><img src="\media\images\uploading.png" alt="Uploading Requests"></button>
            <p class="button-text">Uploading Requests</p>
        </form>
        <form action="{% url 'user_list' %}" method="GET">
            <button class="accept-button" type="submit"><img src="\media\images\user_delete.png" alt="Users List"></button>
            <p class="button-text">Delete Users</p>
        </form>
    </div>
{% endblock %}
